@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  background-color: aqua;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-icon {
  display:none;
  border: 1px solid black;
  padding: 1em;
  width: fit-content;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul > * {
  border: 1px solid black;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cat-slides {
  max-height: 40em;
  max-width: 30em;
  box-shadow: 0px 0px 15px 2px #5F6060;
  margin: 2em;
}

@media (width < 500px) {
  .nav-icon {
    display: block;
  }

  .hovered-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 1;
  }
  
  ul {
    display: none;
  }
}